@import url(https://fonts.googleapis.com/css?family=Roboto);
body{
    background-color:#e9ebee;
    font-family: "Roboto";
}

.home{
    background-image: url("../images/happiness.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

.login{
    display:block;
    background-color:white;
    width:210px;
    margin-left:auto;
    margin-right:auto;
    padding:30px;
    margin-top:80px;
    border-radius:10px;
    margin-bottom:100px;
}


input{
    padding: 8px 50px 8px 2px;
}

.register{
    font-size:0.8em;
}

.submitbtn{
    background-color:#326086;
    width:191px;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:10px;
    border:none;
    font-weight:bold;
    color:white;
}

.fbbutton{
    background-color:#326086;
    width:198px;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:10px;
    border:none;
    font-weight:bold;
    color:white;
    text-decoration:none;
    font-size:0.8em;
    padding-left:35px;
    padding-right:34px;
    margin-top:100px;
}

#instalogo{
    width:200px;
    
    padding-top:20px;
    
}

label{
    font-size:0.9em;
    color:darkgray;
}

.return{
    text-decoration:none;
    font-size:0.8em;
}

/* ----------UPLOAD----------*/

.uploadStart{
    margin-top: -100px;
    margin-left:40px;
}

.upload{
    background-color: whitesmoke;
    color:#326086;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.upload h1 {
    color: #326086;
}

.knopUpload {
    width: 100%;
    text-align: center;
    box-shadow: none;
    background-color:#326086;
    padding-top:10px;
    padding-bottom:10px;
    margin:10px;
    border:none;
    font-weight:bold;
    color:white;
    text-decoration:none;
    font-size:0.8em;
    padding-left:35px;
    padding-right:34px;
    margin-top:100px;
}

.knopUpload:hover {
    background-color: white;
    color: #326086;
    border: 1px solid #326086;
}

#form-upload {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.descrUpload {
    width: 100%;
    height: 150px;
    padding: 15px;
    box-sizing: border-box;
    border:none;
    outline: none;
    margin-top: -80;
    background-color: white;
    color: lightslategrey;
    line-height: 1.5;
    margin-bottom: -80px;
}

input {
    display: block;
}

.addDescr {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.addDescr .button-group {
    width: 100%;
    display: flex;
}

.addDescr .content {
    width: 50%;
}

.wrapper-image-filter
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-left: 80px;
}

#change-filter
{
    width: 70%;
    height: 70%;
    display: block;
}

.image 
{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.wrap-filters
{
    display: flex;
    width: 100%;
    height: 8%;
    margin-top: 20px;
    background-color: aqua;
    z-index: 999999999;
}

.filter
{
    width: 10%;
    height: 100%;
    z-index: 999999999999;
}

.image-filter 
{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content {
    width: 80%;
    margin: 0 auto;
    display: block;
}


.wrap-suggestions
{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}


/* ----------MY ACCOUNT----------*/
.clearfix{
    clear:both;
}
    
.profile{
    background-color: whitesmoke;
    
}

.h1Profile{
    color:#326086;
    font-style: bold;
    font-size: 22px;
    padding-top: 40px;
    margin-bottom: 10px;
}

.h3Profile{
    color:#326086;
    margin-top: -5px;
    margin-bottom: 25px;
}

.profile-picture{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.profile-yid-image{
    height:200px;
}

.About{
    margin-left: 40px;
    margin-top: 0px;
}

.profile-picture{
    float:left;
}

.profile-information{
    margin-left: 230px;
    margin-top: -15px;
    padding-bottom: 50px;
    line-height: 1.5em;
    font-size:19px;
}

.postsProfile{
    margin-left: 40px;
    margin-top: 20px;
}

#follow{
    text-align: center;
    box-shadow: none;
    background-color:#326086;
    padding-top:10px;
    padding-bottom:10px;
    border:none;
    font-weight:bold;
    color:white;
    text-decoration:none;
    font-size:0.8em;
    padding-left:35px;
    padding-right:34px;
}

#unfollow{
    text-align: center;
    box-shadow: none;
    background-color:whitesmoke;
    padding-top:10px;
    padding-bottom:10px;
    border:none;
    font-weight:bold;
    color:#326086;
    text-decoration:none;
    font-size:0.8em;
    padding-left:35px;
    padding-right:34px;
    border:1px solid #326086;
}

.formProf{
    margin-top: -20px;
    margin-bottom: 30px;
}


/* ----------Navbar-----------*/

#instaheader{
    width:120px;
    padding-top:10px;
    margin-left:-5px;
}

.header{
    height:50px;
    background-color:#326086;
}

.innerheader{
    display:block;
    width:85%;
    margin-left:auto;
    margin-right:auto;
}

.dropbtn {
    display:inline;
    background-color:#326086;
    color: white;
    padding: 10px 0px 4px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
    
}

.dropdown {
    float:right;
    margin-top:-45px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#326086;
    min-width: 150px;
    margin-left:-100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top:-2px;
}

.dropdown-content a {
    color: white;
    font-size:0.8em;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}


.dropdown:hover .dropdown-content {
    display: block;
    
}

.dropdown:hover .dropbtn {
    background-color: #326086;

}

.dropdown-content a:hover {
    color: gray;
    
}

#usericon{
    width:28px;
    
}

.input-search{
    margin-left:300px;
    margin-top:-40px;
}



.h1Settings{
    color:#326086;
    font-style: bold;
    font-size: 22px;
    padding-top: 40px;
    margin-bottom: 10px;
}

.h3Settings{
    color:#326086;
    margin-top: -5px;
    margin-bottom: 25px;
}

.settingsMain{
    margin-left:40px;
}

.settingInput{
    margin-bottom: 30px;
}

#profpic{
    margin-right: 30px;
}

#deleteAccount{
    background-color:#326086;
    width:170px;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:10px;
    border:none;
    font-weight:bold;
    color:white;
    text-decoration:none;
    font-size:0.8em;
    padding-left:30px;
    padding-right:30px;
}

#updateSettings{
    background-color:#326086;
    width:170px;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:10px;
    border:none;
    font-weight:bold;
    color:white;
    text-decoration:none;
    font-size:0.8em;
    padding-left:30px;
    padding-right:30px;
}